########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

{{ mongod | yaml(False) }}
